{% block header %}
{% load static %}
{% csrf_token %}

{% if request.path != '/'%}
<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a href="index.html" class="logo m-0 float-start">Blogy<span class="text-primary">.</span></a>
                    </div>
                    <div class="col-8 text-center">
                        <form action="#" class="search-form d-inline-block d-lg-none">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bi-search"></span>
                        </form>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                           
                                {% if request.user.is_authenticated %}
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                {% else %}
                                    <li><a>Home</a></li>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'all_blogs' %}">All Blogs</a></li>
                                {% else %}
                                
                                    <li><a>All Blogs</a></li>
                                {% endif %}
                                {% if request.path == "/register/" %}
                                <li class="active"><a href="{% url 'login_page' %}">Login</a></li>
                            {% endif %}
                        
                        </ul>
                        
                    </div>
                    <div class="col-2 text-end">
                        <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                            <span></span>
                        </a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endif %}
<div class="modal fade without_login_modal" id="withoutLoginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="withoutLoginModalBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
            <button type="button" class="close_btn" data-bs-dismiss="modal" aria-label="Close">
                <img src="/static/Webapp/prodrive/images/cross-icon.svg" class="img-fluid">
              </button>
        <div class="modal-body text-center">
          <div class="site_logo mb-3">
            <img src="/static/Webapp/prodrive/images/site-logo.svg" class="img-fluid" class="img-fluid">
          </div>
          <div class="please_login_text">
            <p class="mb-0">Please <a href="{% url 'login_page' %}">Login/</a><a href="{% url 'register' %}">Register</a> into your account.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 

{% endblock header %}
